.ContainerWithBackground QLabel {
    background: none;
}

#LoginPage {
    background-image: url('resources:/images/login_page_background.png');
}

#SignupPage {
    background-image: url('resources:/images/signup_page_background.png');
}
